**/*.mp4
**/*.mkv
**/*.xls
**/*.xlsx
**/*.pptx
**/*.ppt
**/*.exe
**/.env
**/ireadme.md
**/prj/*
**/hf/*
**/.venv/*
**/build/*
**./dist/*
**/.vscode/*
**/*.ffs_db
**/*.gguf
**/__pycache__
**/pretrain/*
**/tmp/*
**/checkpoints/*
**/temp/*