{{/******  demo ******

{{< codepen 
  htmlFile="AddText_1.html"
  jsFile="AddText_1.js"
>}}
*******/}}

{{ $htmlfn := path.Join .Page.File.Dir (.Get "htmlFile") }}

<div 
  class="codepen" 
  data-prefill 
  data-height="500" 
  data-theme-id="1"
  data-default-tab="html,result" 
>


  <pre data-lang="html">
  {{  readFile $htmlfn  }}    
  </pre>
  {{ if (.Get "cssFile") }}
    {{ $cssfn := path.Join .Page.File.Dir (.Get "cssFile") }}
    <pre data-lang="scss">
      {{  readFile $cssfn  }}    
    </pre>
  {{ end }}
  {{ if (.Get "jsFile") }}
    {{ $jsfn := path.Join .Page.File.Dir (.Get "jsFile") }}
    <pre data-lang="js">
      {{  readFile $jsfn  }}     
    </pre>
  {{ end }}	
</div>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>