<html>
<head>
<style>
h1{
 color:#ff8600;
}
h2 {
  color:#c2c0ff;
  background-color: azure;
}
p {
 color:green;
}
li {
  color:brown;
}
</style>
</head>
<body>
<h1>背景與介紹</h1>

p是paragraph段落。<br>
<p>這裡要寫一些相關名詞的解釋。這個句子仍然在段落裡面這裡要寫一些相關名詞的解釋。這個句子仍然在段落裡面這裡要寫一些相關名詞的解釋。這個句子仍然在段落裡面</p>
<p>這是另一個段落<br>這是第2個paragraph</p>
<h2>是非題</h2>
 
<ol>
<li> 凡是有頭有尾的標籤就叫做配對標籤</li>
<li> 小於,大於中的br,head,body 都是tag</li>
<li> h1中的h是heading的意思 1</li>
</ol>
 
<p>CSS Cascading Stylesheets；CSS。<BR>
CSS 寫在style標籤裡面
</p>
<h1>結論</h1>
<ul>
<li><a href="https://www.nkust.edu.tw">my school</a></li>
<li><a href="www.chinatimes.com.tw">new paper </a></li>
<li><a href="static/js1.html">在static 中的網頁 </a></li>
</ul>
<script>
  myprompt="<h1>this is a heading 1</h1>"
  p1= "this is a text"
  p2="<h2>this is a paragraph</h2>"
  x1=4
  x2=6
  br="<br>"
  document.write(myprompt)
  document.write(p1)
  document.write(p2)
  document.write(p1+p1)
  //document.write("<br>")
  document.write("x1 is: " + x1+br)
  //document.write("<br>")
  document.write(x1+x2+br)
  document.write(x1+x2+br)
</script>


</body>
</html>

