<nav id="sidebar">
  {{ $stopbynode := . }}
    <ul class="nav flex-column topics" id="home-topics">
        {{range .Site.Home.Sections.ByTitle}}
          {{if partial "func/isshown" . }}
          {{ partial "walk.html" (dict "page" . "stopbynode" $stopbynode "parent" "home-topics") }}
          {{ end }}
        {{end}} 

  </ul> 
    {{ $disableShortcutsTitle := .Site.Params.DisableShortcutsTitle}}
    {{with .Site.Menus.shortcuts}}
    <hr/>
    <section id="shortcuts">
      <ul>{{ if not $disableShortcutsTitle}}{{ "Shortcuts"}}{{ end }}</ul>
      <ul>
        {{ range sort . "Weight"}}
        <li>
          {{.Pre |markdownify}}<a href="{{.URL | absURL }}">{{safeHTML .Name}}</a>{{.Post |markdownify}}
        </li>
        {{end}}
      </ul>
    </section>
    {{- end -}}
    <hr/>
    <section id="footer">
      {{ partial "menu-footer.html" . }}
    </section>
  <!-- </div> -->
</nav>