{{ $stopbynode := .stopbynode }} <!--就是目前要產生左側選單的網頁-->
{{ $parent := .parent }}

{{ if $stopbynode.File }} <!--bug1: zero object test 看看這會怎樣 發現是因為沒有_index.md-->
{{ if eq .page.Name $stopbynode.Name -}} <!--$stopbynode 和目前的文章是一樣的,因此要打光-->
<li class="nav-item active" data-bs-toggle="tooltip" data-bs-placement="right" title="{{.page.Title}}">
{{else}}
<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="{{.page.Title}}">
{{end}}     

  <a class="nav-link" 
    href="{{ .page.RelPermalink }}"><i class="far fa-folder"></i>{{ .page.Title }}  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_{{.page.File.UniqueID}}" {{ if eq .page.Name $stopbynode.Name -}} aria-expanded="true"> {{else}}aria-expanded="false">{{end}}
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_{{.page.File.UniqueID}}"  
  {{ if .page.IsAncestor $stopbynode -}}
    class="submenu collapse show" 
  {{ else -}}   
    class="submenu collapse" 
  {{ end -}}
  data-bs-parent="#{{ $parent }}">
    
  {{ $parent := printf "menu_item_%s" .page.File.UniqueID }}  
  {{ $sublist := partial "func/mixsort.html" .page }}
  {{ range $sublist }} <!-- 可以是原先的range .Pages.ByTitle,按照原本的Title排序 -->
    {{ with .page }} <!--$sublist範圍內的每一個項目-->
    
    {{- if partial "func/isshown.html" . -}}
    {{- if .Pages -}}  <!--如果是NIL,就是一般網頁,否則就是section-->
      <li>
      {{ partial "walk.html" (dict "page" . "stopbynode" $stopbynode "parent" $parent) }}
      </li>
    {{- else -}} <!--一般網頁-->
    {{- if eq .File.UniqueID $stopbynode.File.UniqueID}} <!--同一篇文章-->
      <li class="nav-item active">
    {{- else }}
      <li class="nav-item">
    {{- end -}}    
        <a class="nav-link" href="{{ .RelPermalink }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">
           {{- with .Params.pre -}}
            <span class="pre">{{. |markdownify}}</span>
           {{ end -}}
           {{ .Title }}
           {{- with .Params.post -}}
            <span class="post">{{. |markdownify}}</span>
           {{ end -}}
        </a></li> 
    {{- end -}}    
  {{- end -}} <!-- isshown -->
  
    {{- end -}}  
  {{- end -}}
  </ul>
</li>   

{{- end -}}  <!--bug1 end: 測試 zero object-->
     
  
