
{{/*
 html_demo.html
*/}}

{{/* 

{{readFile  "./web/html_css/css/resources/b10 icon.html"   }}   
{{ print  .Page.File.Path }}  目前網頁的資訊

*/}}
{{ $filePath := .Get "filePath" }}

{{ $fn := path.Join .Page.File.Dir $filePath }}
<div class="demoContainer">
  <a href= {{$fn| relURL}}> 原始碼({{ $fn }})</a>
  <button class="btn-primary" onclick="switchEdit(this)">編輯</button>
  <button class="btn-primary switchable switchEdit" onclick="execArea(this)">執行</button>
 
  <textarea class="switchable switchEdit">
    {{readFile  $fn   }}   
  </textarea>
  <iframe class="Result" src={{ $fn| relURL}} > </iframe>

</div>

