{{/*
title:
root: content or static
path: 給定,或者就是內定資料夾
pattern: regular express of file name 
*/}}
<div class="nopre attachments {{ with .Get "style"}}{{- . -}}{{-  end  -}}">
 <label>
   <i class="fas fa-paperclip" aria-hidden="true"></i>
	{{- with .Get "title" -}}{{- .| emojify -}}{{- else -}}{{- "附件" -}}{{- end -}}
 </label>
    <!--除非使用者指定,否則內定是content/當前頁面目錄-->
    {{-  $root := default "content" (.Get "root") -}}
	{{-  $pattern := default "*" (.Get "pattern")  -}}
	<!--$folder:除非使用者指定,否則內定是[檔案名稱.files]子目錄-->
	{{-  $srcdir := (printf "%s.files/" .Page.File.BaseFileName)  -}}
	{{-  $folder := default $srcdir (or (.Get "folder") (.Get "path"))   -}}
	<!-- 給定的folder 相對於本頁面DIR -->
	{{-  $pagedir := replace .Page.File.Dir "\\"  "/"   -}}
	<!--資料夾存在則繼續-->
	{{ path.Join $root $pagedir $folder}}			
    {{- with fileExists (path.Join $root $pagedir $folder)  -}}
	
	<ul class="attachments-files">

	{{-  range (readDir ( path.Join $root $pagedir $folder))   -}}
			{{- if (findRE $pattern .Name) -}}
				<li>
					<a id="{{md5 .Name}}" href="{{-  (path.Join $pagedir $folder .Name) |relURL   -}}" class="toa-item" >
						{{- .Name -}}
					</a>
					({{- div .Size 1024  -}} ko)
				</li>
			{{- end -}}
 
	{{- end -}}
	</ul>
	{{- end -}}  
</div>{{- printf "" -}}