
{{/* 
  {{.Name | urlize }}     == > 空白會被改變,大寫變成小寫
*/}}


<table style="width:100%">
<th>Size in bytes</th>
<th>Name</th>
{{ $dir := .Get "dir" }}  {{/* 就只是讀取參數,不是YMAL部分 */}}
{{ $url := .Get "baseurl" }}


{{ $files := readDir (printf "/static%s" $dir) }}
    {{ range $files }}
            <tr>
                <td>{{.Size}}</td>
                <td>
                    {{/* <a href="{{$url}}{{.Name | urlize }}"> {{.Name}}</a> */}}
                    <a href="{{$dir}}/{{.Name  }}"> {{.Name}}</a>					
                    </td>
            </tr>
     {{ end }}
</table>